/* Задача 1 — заголовок второго уровня «Калуша с Калушатами» */
section > div > h2 {
  color: blue;
}

/* Задача 2 — все упоминания Калушат, выделенные тегом strong */
strong {
  color: brown;
}

/* Задача 3 — упоминания Бутявки в цитатах */
blockquote span {
  color: yellow;
  font-weight: bold;
}

/* Задача 4 — упоминания Калушат внутри нумерованного списка */
ol strong {
  font-style: italic;
}
